In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
def filter_email(text):
    lines = text.split('\n')
    key_words = ['Message-ID','Date','From','To','Subject',
                 'Mime-Version','Content-Type','Content-Transfer-Encoding',
                 'X-From','X-To','X-cc','X-bcc','X-Folder','X-Origin','X-FileName']
    email=[]
    message=""
    for line in lines:
        count = 0
        for key in key_words:
            if key in line:
                val = line.split(sep=':')
                email.append(val)
                count+=1
                key_words.remove(key)
                break
        if count==0:
            message+=(line+' ')
    email.append(['Body',message])
    return email

The above function "filter_email" takes raw email text as input and splits into different categories and finally appends into list.

In [3]:
def filter_cats(text):
    cat=[]
    lines = text.split('\n')
    for i in range(len(lines) - 1):
        line = lines[i].split(sep=',')
        if (int(line[0]) == 1):
            cat.append(line[0])
            cat.append(line[1])
            cat.append(line[2])
    return cat

The above function "filter_cats" takes raw text from .cats file and filters only categories which belong to first top level category (our problem considers only 6 second level  categories) and appends them into list

In [4]:
message=[]
for i in range(1,9):
    dir = 'C:\\Users\\ishar\\Documents\\Projects\\Vlabs\\enron_with_categories\\'
    dir+=str(i)+'\\'
    for file in os.listdir(dir):
        key=file
        temp=[key]
        if file.endswith('.txt'):
            with open(os.path.join(dir, file), 'r') as file:
                content = file.read()
                email = filter_email(content)
                key_words = ['Message-ID', 'Date', 'From', 'To', 'Subject',
                             'Mime-Version', 'Content-Type', 'Content-Transfer-Encoding',
                             'X-From', 'X-To', 'X-cc', 'X-bcc', 'X-Folder', 'X-Origin', 'X-FileName']
                while email:
                    item = email[0]
                    if len(key_words)==0:
                        email.pop(0)
                        temp.append(item[1])
                        break
                    else:
                        key_item = key_words[0]
                        if item[0] == key_item:
                            temp.append(item[1])
                            email.pop(0)
                        else:
                            temp.append(' ')
                        key_words.pop(0)
            cat_path = key.replace('.txt', '.cats')
            with open(os.path.join(dir,cat_path),'r') as file:
                content = file.read()
                cat = filter_cats(content)
                for x in cat:
                    temp.append(x)
            message.append(temp)

The above code loops over all 8 folders and takes .txt files and corresponding .cats files, using 2 helper functions, data from email and category is extracted into a list and finally appended into a global list

In [5]:
df = pd.DataFrame(message,columns=['File Name','Message ID','Date','From','To','Subject','Mime-Version',
                                  'Content-Type','Content-Transfer-Encoding','X-From','X-To','X-cc','X-bcc','X-Folder',
                                  'X-Origin','X-FileName','Body','FirstCat 1','SecondCat 1','Cat Weightage 1',
                                  'FirstCat 2','SecondCat 2','Cat Weightage 2','FirstCat 3','SecondCat 3','Cat Weightage 3'])

Condsidering the data generated, there are 26 columns and column names are given to each of them

In [6]:
df.head()

,File Name,Message ID,Date,From,To,Subject,Mime-Version,Content-Type,Content-Transfer-Encoding,X-From,...,Body,FirstCat 1,SecondCat 1,Cat Weightage 1,FirstCat 2,SecondCat 2,Cat Weightage 2,FirstCat 3,SecondCat 3,Cat Weightage 3
0,10425.txt,<197504.1075840201539.JavaMail.evans@thyme>,"Mon, 18 Oct 1999 01",steven.kean@enron.com,"mark.schroeder@enron.com, kenneth.lay@enron.c...",Translation of articles,1.0,text/plain; charset=us-ascii,7bit,Steven J Kean,...,"\tjeff.skilling@enron.com, mark.frevert@enron....",1,1,1,None,None,None,None,None,None
1,106296.txt,<11991339.1075842536086.JavaMail.evans@thyme>,"Mon, 5 Mar 2001 08",drew.fossum@enron.com,darrell.schoolcraft@enron.com,TW Gas Sales,1.0,text/plain; charset=us-ascii,7bit,Drew Fossum,...,"Cc: danny.mccarty@enron.com, steven.harris@enr...",1,1,2,None,None,None,None,None,None
2,106298.txt,<7106753.1075842536132.JavaMail.evans@thyme>,"Tue, 6 Mar 2001 00",drew.fossum@enron.com,"julia.white@enron.com, steven.january@enron.com",TW Gas Sales,1.0,text/plain; charset=us-ascii,7bit,Drew Fossum,...,Cc: darrell.schoolcraft@enron.com Bcc: darrell...,1,1,1,1,6,1,None,None,None
3,106588.txt,<21267718.1075863331587.JavaMail.evans@thyme>,"Tue, 6 Mar 2001 11",drew.fossum@enron.com,"julia.white@enron.com, steven.january@enron.com",TW Gas Sales,1.0,text/plain; charset=us-ascii,7bit,Drew Fossum,...,Cc: darrell.schoolcraft@enron.com Bcc: darrell...,1,1,2,None,None,None,None,None,None
4,106590.txt,<20866019.1075863331634.JavaMail.evans@thyme>,"Mon, 5 Mar 2001 19",drew.fossum@enron.com,darrell.schoolcraft@enron.com,TW Gas Sales,1.0,text/plain; charset=us-ascii,7bit,Drew Fossum,...,"Cc: danny.mccarty@enron.com, steven.harris@enr...",1,1,1,None,None,None,None,None,None

displaying head of the dataframe generated

In [7]:
df.drop(['Message ID','Date','Mime-Version','Content-Type','Content-Transfer-Encoding','X-cc','X-bcc',
             'X-Folder','X-Origin','X-FileName','To','X-From','X-To'],axis=1,inplace=True)

dropping unwanted columns from the dataframe

In [8]:
df.head(2)

,File Name,From,Subject,Body,FirstCat 1,SecondCat 1,Cat Weightage 1,FirstCat 2,SecondCat 2,Cat Weightage 2,FirstCat 3,SecondCat 3,Cat Weightage 3
0,10425.txt,steven.kean@enron.com,Translation of articles,"\tjeff.skilling@enron.com, mark.frevert@enron....",1,1,1,None,None,None,None,None,None
1,106296.txt,drew.fossum@enron.com,TW Gas Sales,"Cc: danny.mccarty@enron.com, steven.harris@enr...",1,1,2,None,None,None,None,None,None

The above dataframe consists of many null values hence modification is done so that which ever row has multiple categories, the categories are popped out and duplicate rows are generated so that single column labelled data is generated

In [9]:
df_second=df[(df['FirstCat 2']==1) & (df['FirstCat 3']!=1)].copy()
df_third = df[(df['FirstCat 2']==1) & (df['FirstCat 3']==1)].copy()

df_second_1 = df_second.copy()
df_third_1=df_third.copy()
df_third_2=df_third.copy()

dataframe copy is done so that changes in new dataframe doesn't alter the parent one

In [10]:
df.drop(['FirstCat 1','Cat Weightage 1', 'FirstCat 2', 'SecondCat 2', 'Cat Weightage 2',
       'FirstCat 3', 'SecondCat 3', 'Cat Weightage 3'],axis=1,inplace=True)

unwanted columns are removed from parent dataframe

In [11]:
df_second_1['File Name']+='_1'

df_second_1.drop(['FirstCat 1', 'SecondCat 1','Cat Weightage 1', 'FirstCat 2','Cat Weightage 2',
       'FirstCat 3', 'SecondCat 3', 'Cat Weightage 3'],axis=1,inplace=True)

duplicate naming is done and unwanted columns are removed

In [12]:
df_third_1['File Name']+='_1'

df_third_1.drop(['FirstCat 1', 'SecondCat 1',
       'Cat Weightage 1', 'FirstCat 2', 'Cat Weightage 2',
       'FirstCat 3', 'SecondCat 3','Cat Weightage 3'],axis=1,inplace=True)

duplicate naming is done and unwanted columns are removed

In [13]:
df_third_2['File Name']+='_2'

df_third_2.drop(['FirstCat 1', 'SecondCat 1','Cat Weightage 1', 'FirstCat 2', 'SecondCat 2', 'Cat Weightage 2',
                  'FirstCat 3', 'Cat Weightage 3'],axis=1,inplace=True)

duplicate naming is done and unwanted columns are removed

In [14]:
df=df.rename(columns={'SecondCat 1':'Label'})
df_second_1=df_second_1.rename(columns={'SecondCat 2':'Label'})
df_third_1=df_third_1.rename(columns={'SecondCat 2':'Label'})
df_third_2=df_third_2.rename(columns={'SecondCat 3':'Label'})

Category column name is changed to single name "Label"

In [15]:
df.set_index('File Name',inplace=True)
df_second_1.set_index('File Name',inplace=True)
df_third_1.set_index('File Name',inplace=True)
df_third_2.set_index('File Name',inplace=True)

File Name is made as the index of dataframe

In [16]:
df=pd.concat([df,df_second_1,df_third_1,df_third_2])

All duplicate generated dataframes are concatenated to form a single dataframe

In [17]:
df.head(2)

,From,Subject,Body,Label
File Name,,,,
10425.txt,steven.kean@enron.com,Translation of articles,"\tjeff.skilling@enron.com, mark.frevert@enron....",1
106296.txt,drew.fossum@enron.com,TW Gas Sales,"Cc: danny.mccarty@enron.com, steven.harris@enr...",1

In [18]:
df[df['Body'].str.len()==0]
df = df.drop(df[df['Body'].str.len()==0].index)

checking if any email body is null and removing such rows

In [19]:
import re
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
import nltk
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [20]:
def filtered_text(body):
    my_list = body.split()
    i = 0
    while i < len(my_list):
        if '@' in my_list[i]:
            my_list.pop(i)
        else:
            i += 1
    text = ' '.join(x for x in my_list)
    text = text.lower()
    replace = ['forwarded','from','subject','steven','said','enron','california']
    remove = re.compile(r'\b(?:%s)\b'%'|'.join(replace))
    text = remove.sub('',text)
    text = re.sub(r'[^a-z]',' ',text)
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    text = ' '.join(x for x in filtered_words)
    return text

The above function takes raw text as input and gives filtered text as output.
1) All email accounts if available will be removed
2) All text data will be lowered
3) common unwanted words will be removed
4) Other than alphabets, all other text will be removed
5) stopwords will be removed

In [21]:
df['Body'] = df['Body'].apply(filtered_text)
df['Label'] = df['Label'].apply(int)

The above function is implemented to all cells in body column and Label column contains some float data hence such values are converted to int format

In [22]:
df.head()

,From,Subject,Body,Label
File Name,,,,
10425.txt,steven.kean@enron.com,Translation of articles,j kean hou ees karen j cc translation articles...,1
106296.txt,drew.fossum@enron.com,TW Gas Sales,cc bcc anticipation potential litigation invol...,1
106298.txt,drew.fossum@enron.com,TW Gas Sales,cc bcc julia steve questions sent darrell tw c...,1
106588.txt,drew.fossum@enron.com,TW Gas Sales,cc bcc julia steve questions sent darrell tw c...,1
106590.txt,drew.fossum@enron.com,TW Gas Sales,cc bcc anticipation potential litigation invol...,1

In [23]:
df = df.drop(df[df['Label']==7].index)
df = df.drop(df[df['Label']==8].index)

7 and 8 category data is not needed for our problem hence such rows are removed

In [24]:
df[df['Body'].str.len()==0]

,From,Subject,Body,Label
File Name,,,,
173164.txt,steven.kean@enron.com,Task Force conf call -- 9,,4
173240.txt,steven.kean@enron.com,Dinner with Craig Goodman - Cancelled,,4

If any row which contain null body is removed

In [25]:
df = df.drop(df[df['Body'].str.len()==0].index)

In [26]:
tokenized_email = df['Body'].apply(lambda x: x.split())

In [27]:
tokenized_email = tokenized_email.apply(lambda x: [ps.stem(i) for i in x])

tokenized_email = list(tokenized_email)

for i in range(len(tokenized_email)):
    tokenized_email[i] = ' '.join(x for x in tokenized_email[i])

Stemming is done so that all words are converted to their base stem format.

In [28]:
def filter(text):
    words = text.split()
    filtered_words = [word for word in words if len(word)>3]
    text = ' '.join(x for x in filtered_words)
    return text

After stemming, some words will be having 1 or 2 alphabets which do not contain any meaning, these words reduce accuracy of prediction. Hence such types of words whose length is less than 4 are removed

In [29]:
df['Final_Body'] = tokenized_email

In [30]:
df['Final_Body']=df['Final_Body'].apply(filter)

Applying filter function to Final_Body column

In [31]:
df.head()

,From,Subject,Body,Label,Final_Body
File Name,,,,,
10425.txt,steven.kean@enron.com,Translation of articles,j kean hou ees karen j cc translation articles...,1,kean karen translat articl karen denn corp and...
106296.txt,drew.fossum@enron.com,TW Gas Sales,cc bcc anticipation potential litigation invol...,1,anticip potenti litig involv oper activ pleas ...
106298.txt,drew.fossum@enron.com,TW Gas Sales,cc bcc julia steve questions sent darrell tw c...,1,julia steve question sent darrel border line p...
106588.txt,drew.fossum@enron.com,TW Gas Sales,cc bcc julia steve questions sent darrell tw c...,1,julia steve question sent darrel border line p...
106590.txt,drew.fossum@enron.com,TW Gas Sales,cc bcc anticipation potential litigation invol...,1,anticip potenti litig involv oper activ pleas ...

In [32]:
df[df['Final_Body'].str.len()==0]

,From,Subject,Body,Label,Final_Body
File Name,,,,,
162684.txt,m..taylor@enron.com,Dinner w/Prof. Frank Wolak & Vince Kaminski,tel,4,
177850.txt,steven.kean@enron.com,Re,eb c ext,4,

In [33]:
df = df.drop(df[df['Final_Body'].str.len()==0].index)

If any cell containing null body data shall be removed

In [34]:
df.to_csv('Email_Data.csv')

Finally the dataframe is ready and is converted to csv file for further analysis